* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;
    transition: background-color 1s ease;
    justify-content: center;
    height: 100vh;
}

.mat {
    width: 500px;
    background-color: aquamarine;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
}

.mo {
    width: 500px;
    background-color: aquamarine;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    opacity: 1;
    transition: opacity 1s ease;
}

#element, .title, .title-2 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    transition: color 1s ease;
}

.btn {
    background-color: #333333;
    color: white;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    border: none;
    transition: all 1s ease;
}